body,html {overflow:hidden !important; }
#fn_lowIeBg { position:absolute; width:100%; left:0; top:0; font:12px/1.5 "\5FAE\8F6F\96C5\9ED1"; background:#000; color:#666; }
#fn_lowIe { position:absolute; left:50%; top:50%; padding:20px; width:427px; height:239px; margin-top:-239px; margin-left:-234px; background:url(http://static.m3guo.com/17m3/lowIePrompt/img/bg.jpg) no-repeat left top; }
#fn_lowIe p { margin:0 0 10px 0; }
#fn_lowIe img { border:0; }
#fn_lowIeH { font-size:16px; margin:0 0 10px 0; }

#fn_lowIeBtnBar { overflow:hidden; margin-bottom:20px; width:100%; }
#fn_lowIeBtnBar a { float:left; width:130px; height:38px; line-height:38px; border:1px solid #e9e7db; background:#faf8e4; margin-right:10px; color:#302f2f; text-align:center; text-decoration:none; }
#fn_lowIeBtnBar img { vertical-align:middle; }
#fn_lowIeBtnBar a:hover { background:#fff; }

#fn_lowIeDownloadBar, #fn_lowIeDownloadBar li { padding:0; margin:0; }
#fn_lowIeDownloadBar { overflow:hidden; width:100%; }
#fn_lowIeDownloadBar li { float:left; list-style:none; width:72px; margin-right:30px; text-align:center; }
#fn_lowIeDownloadBar a { color:#666; text-decoration:none; }
